$body-font-family = 'Product Sans', 'Arial'

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

@font-face
  font-family: 'Product Sans'
  font-style: normal
  font-weight: 400
  src: url('/fonts/product_sans.woff2') format('woff2')

// $alert-font-size = 18px

// @import '~vuetify/src/stylus/main'
// // For a-la-carte
// @import '~vuetify/src/stylus/app'